<form role="form">
	<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		<tr ng-repeat="x in enfant">
			<td>{{x.nom}}</td>
			<td>
				<label class="radio-inline">
					<input type="radio" name="{{x._id}}" ng-model="x._id" value="1"> Présent
				</label>
			</td>
			<td>
				<label class="radio-inline">
					<input type="radio" name="{{x._id}}" ng-model="x._id" value="2"> Absent
				</label>
			</td>
			<td>
				<label class="radio-inline">
					<input type="radio" name="{{x._id}}" ng-model="x._id" value="3"> Pas prévenu
				</label>
			</td>
		</th>
    </tbody>
</table>
</form>
