<div class="container-fluid">
    <form class="form" role="form">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 input">
                <input type="email" class="form-control" id="email" ng-model="log.email" placeholder="Adresse mail">
            </div>
        </div>
        <div class="row input">
            <div class="col-sm-4 col-sm-offset-4 input">
                <input type="password" class="form-control" id="pwd" ng-model="log.password" placeholder="Mot de passe">
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <button type="submit" class="btn btn-default center-block" ng-click="connection()">Se connecter</button>
        </div>
    </form>
</div>