<div class="container-fluid">
	<div class="col-md-6">
		<h1> Les sections </h1>
		<div class="row">
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Nom</th>
			      </tr>
			    </thead>
				<tbody>
					<tr ng-repeat="x in section">
						<td>{{x.nom}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<h1> Ajouter </h1>
		<form role="form">
			<div class="form-group">
			    <label for="nom">Nom</label>
			    <input type="text" class="form-control" id="nom" ng-model="sec.nom">
			</div>
			<div class="form-group">
			    <label for="abr">Abréviation:</label>
			    <input type="text" class="form-control" id="abr" ng-model="sec.abr">
			</div>
			<div class="form-group">
				<label for="des"> Description</label>
				<textarea class="form-control" rows="10" id="des" ng-model="sec.description"></textarea>
			</div>
			 <button type="submit" ng-click="add()" class="btn btn-default">Enregistrer</button>
		</form>
	</div>
</div>